<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div id="quizContainer"></div>
        <button id="prevButton" style="display: none;">Previous</button>
        <button id="nextButton" style="display: none;">Next</button>
        <button id="submitQuiz" style="display:none;">Submit Quiz</button>
    </div>
    <script src="/js/takeQuiz.js"></script>
</body>
</html>
